/* Account page */
body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}
.login-container {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
	margin: 0 0 15px;
	text-align: center;
}
.login-container form {
	display: flex;
	flex-direction: column;
}
.login-container input[type="text"],
.login-container input[type="password"] {
	padding: 10px;
	margin: 5px 0 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.login-container input[type="submit"] {
	padding: 10px;
	background-color: #28a745;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.login-container input[type="submit"]:hover {
	background-color: #218838;
}
.login-container .signup-link {
	text-align: center;
	margin-top: 20px;
}
.login-container .signup-link a {
	color: #007bff;
	text-decoration: none;
}
.login-container .signup-link a:hover {
	text-decoration: underline;
}